<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>PetPrince</title>
    <link rel="stylesheet" href="../styles.css">
  
</head>
<body>

    <div class="container">

   
        <!-- MENÚ PRINCIPAL -->
        <nav class="header">  
            <a href="index.html" class="logo">Pet<span>Prince</span></a> 
           <li class="menu">
            <ul>
                <li class="selected"><a href="../index.html">Inicio</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Mi Mascota</a>
                    <ul>
                        <li><a href="#"><i class="fa-solid fa-dog"></i>Perros</a></li>
                        <li><a href="#"><i class="fa-solid fa-cat"></i>Gatos</a></li>
                    </ul>
                </li>
                <li class="cart"><a href="#">CARRITO <i class="fa-solid fa-cart-shopping"></i></a>
                    <ul>
                        <li class="cart-container">
                            <div class="table-cart" id="carrito">
                                <table class="table-cart" id="lista-carrito" >
                                    <tr>
                                        <th class="table-th">Imagen</th>
                                        <th class="table-th">Producto</th>
                                        <th class="table-th">Precio</th>
                                        <th class="table-th">Cantidad</th>
                                    </tr>

                                    <tbody>
                                             
                                    </tbody>
                                </table>
                                <a href="#" id="vaciar-carrito" class="button">Vaciar Carrito</a>
                            </div>
                        </li>
                    </ul>
                    
                </a></li>
            </ul> 
           </li>
            <a href="views/login.html" class="login">Iniciar Sesión<i class="fa-solid fa-caret-down"></i></a> 
        </nav>

  

        <!-- LISTA DE PRODUCTOS -->
        <section  class="lista-productos"> 
            <h3>Accesrios para tu mascotas</h3> 
        <div class="product-wrapper" id="lista-productos">
            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="1"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div>   

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="2"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="3"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="4"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="5"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="6"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="7"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

            <div class="box-product">
                <img src="Assets/Images/productos/playera.jpg" alt="">
                <p class="description">Playera</p>
                <div class="price"><p>$500 MXN</p>
                    <a href="" class="add-cart" data-id="8"><i class="fa-solid fa-cart-plus add-cart"></i></a>
                </div>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <p>50% descuento</p>
            </div> 

           
        </div>   
             

            
        </section>

        <footer class="footer">
            <div class="contact">
                <h2 class="footer-h2">ZONA DE CONTACTO</h2>
                <div class="contact-a">
                <a href="#">Quienes Somos</a>
                <a href="#">Nuestros Valores</a>
                <a href="#">Preguntas Frecuentes</a>
                <a href="#">Términos y condiciones</a>
                </div>
                <div class="textarea-container">
                    <textarea type="textarea" class="textarea" placeholder="Mandanos aquí tu mensaje..." rows="10" cols="50">

                    </textarea>
                    <input type="submit" name="textarea">
                </div>
                
                
            </div>
            <div class="social">
                <h2 class="footer-h2">Nuestros proveedores</h2>
                <div class="img-providers">
                    <img src="Assets/Images/Prodviders/Imagen 15.png" alt="">
                    <img src="Assets/Images/Prodviders/Imagen 16.png" alt="">
                    <img src="Assets/Images/Prodviders/Imagen 17.png" alt="">
                    <img src="Assets/Images/Prodviders/Imagen 18.png" alt="">
                </div>
                <h2 class="footer-h2">Siguenos</h2>
                <div class="social">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </footer>
</div>

<script src="app.js"></script>
<!-- <script src="carrito.js"></script> -->

</body>
</html>