<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetPrince/admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="../Plugins/style.css">
</head>
<body>
        <div class="wrapper">
            <div class="sidebar">
                <a href="index.html" class="logo">Pet<span>Prince</span></a>
                <div class="dash">
                    <a href=""><span class="material-icons">
                        person
                        </span>Usuarios</a>
                    <a href=""><span class="material-icons">
                        category
                        </span>Productos</a>
                    <a href=""><span class="material-icons">
                        inventory_2
                        </span>Almacén</a>
                    <a href=""><span class="material-icons">
                        monetization_on
                        </span>
                        Ventas</a>

                </div>
            </div>
        <div class="dash-container">
            <div class="top-bar">
                <div class="user">
                    <p>Hola:</p>  
                        <a href="">Administrador</a>
                        <img src="../Assets/Images/users/admin.png" alt="">
                    
                </div>
                
                <div class="search"><input type="search"><i class="fa-solid fa-magnifying-glass"></i></div>
                <a href="" class="notify">Notificaciones<i class="fa-solid fa-bell"></i></a>
            </div>

            <section class="section">
                <h1>Dashboard</h1>
                <div class="cards">

                    <div class="card-item productos">
                        <span class="material-icons">
                            production_quantity_limits
                            </span>
                            
                        <h2>Productos</h2>
                        <h3>12K</h3>
                        <small>70%</small>
                        <p>Total en stock</p>
                    </div>

                    <div class="card-item  usuarios">
                        <span class="material-icons">
                            account_circle
                            </span>
                            
                        <h2>Clientes</h2>
                        <h3>3K</h3>
                        <small>90%</small>
                        <p>Activos</p>
                    </div>

                    <div class="card-item ventas">
                        <span class="material-icons">
                            real_estate_agent
                            </span>
                        <h2>Ventas</h2>
                        <h3>12,000</h3>
                        <small>70%</small>
                        <p>Mensuales</p>
                    </div>

                    <div class="card-item  pendientes">
                        <span class="material-icons">
                            local_shipping
                            </span>
                        <h2>Entregas</h2>
                        <h3>60</h3>
                        <small>Urgente</small>
                        <p>Pendientes</p>
                    </div>
                </div>

                <div class="table">
                    <table>
                        <tr>
                            <th>ID Cliente</th>
                            <th>Nombre</th>
                            <th>email</th>
                            <th>última visita</th>
                            <th>última compra</th>
                            <th>Editar</th>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>

                        <tr class="rows">
                            <td>625</td>
                            <td>Alejandro espinoza</td>
                            <td>alex123@mail.com</td>
                            <td>16-sept-2021</td>
                            <td>13-sept-2021</td>
                            <td>
                                <a href="">Editar</a>
                                <a href="">Borrar</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </section>
        </div>
        </div>
        
</body>
</html>