<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>PetPrince</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- MENÚ PRINCIPAL -->
      <nav class="header">
        <a href="../index.html" class="logo">Pet<span>Prince</span></a>
        <li class="menu">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li class="selected"><a href="somos.html">Quienes Somos</a></li>
            <li>
              <a href="#">Mi Mascota</a>
              <ul>
                <li class="sub-menu">
                  <a href="#"><i class="fa-solid fa-dog"></i>Perros</a>
                </li>
                <li class="sub-menu">
                  <a href="#"><i class="fa-solid fa-cat"></i>Gatos</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
            </li>
          </ul>
        </li>
        <a href="../views/login.html" class="login">
          Iniciar Sesión <i class="fa-solid fa-caret-down"></i>
        </a>
      </nav>

      <!-- Quienes somos -->
      <section class="sect-somos">
        <div>
          <div>
            <h3>Preguntas Frecuentes</h3>

            <h4>
                ¿Cuáles son los plazos de devolución de mi compra?
            </h4>

            <p> Luego de solicitar la anulación de tu compra, debes esperar a que esta sea confirmada y recibas la nota de crédito y de inmediato, comenzarán a correr los días de plazo de devolución para que recibas tu dinero, que van de 4 a 7 días hábiles.</p>
                
            <h4>¿Puedo cambiar la dirección de envío de mi compra?</h4>
                
            <p>¡Claro que sí! Para cambiar la dirección de envío debes enviar un correo a contacto@petprince.com.mx, indicando el motivo del cambio, el numero de orden y la nueva dirección de envío. </p>

            <h4>¿Quieres cambiar tu producto o te arrepentiste de tu compra?</h4>
                
            <p>¡No hay problema! En PetPrince tenemos un compromiso contigo. Si ya cambiaste de opinión y el producto está nuevo, en perfectas condiciones y en su empaque original, puedes cambiarlo y/o devolverlo en las cajas de nuestras tiendas con cualquier documento que acredite tu compra, con un plazo máximo de 30 días</p>

            <h4>¿Y si tu producto presenta alguna falla?</h4>
                
            <p>PetPrince garantiza tu producto ante fallas ocurridas dentro de los 6 primeros meses luego de la recepción del producto. Nos traes el ticket o cualquier documento que acredite la compra, certificamos la falla del producto. Si corresponde, puedes elegir la opción que prefieras: reparación, cambio o devolución de lo pagado.</p>
                
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="contact">
            <h2 class="footer-h2">ZONA DE CONTACTO</h2>
            <div class="contact-a">
            <a href="./somos.html">Quienes Somos</a>
            <a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a>
            <a href="./terminosycondiciones.html">Términos y condiciones</a>
            </div>
            <div class="textarea-container">
                <textarea type="textarea" class="textarea" placeholder="Mandanos aquí tu mensaje..." rows="10" cols="50">

                </textarea>
                <input type="submit" name="textarea">
            </div>
            
            
        </div>
        <div class="social">
            <h2 class="footer-h2">Nuestros proveedores</h2>
            <div class="img-providers">
                <img src="../Assets/Images/Prodviders/Imagen 15.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 16.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 17.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 18.png" alt="">
            </div>
            <h2 class="footer-h2">Siguenos</h2>
            <div class="social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-pinterest"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>

      <div class="rights">
        <div class="credits">
          <p>®PetPrince Corporations <b>2022</b></p>
          <p>| Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </body>
</html>
