<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>PetPrince</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-wrap">
            <a href="../main.html" class="logo">Pet<span>Prince</span></a>

            <div class="inputs">
                <label for="name">Escribe tu Nombre:</label>
                <input type="text">
                <label for="email">Escribe tu Correo:</label>
                <input type="email">
                <input class="btn" type="submit">
            </div>
            
            <div class="recover">
                 <a href="registro.html">Registrarme</a>
            </div>

        </div>
        
    </div>
</body>
</html>