<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <title>PetPrince</title>
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <div class="container">
      <!-- MENÚ PRINCIPAL -->
      <nav class="header">
        <a href="../index.html" class="logo">Pet<span>Prince</span></a>
        <li class="menu">
          <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li class="selected"><a href="somos.html">Quienes Somos</a></li>
            <li>
              <a href="#">Mi Mascota</a>
              <ul>
                <li class="sub-menu">
                  <a href="#"><i class="fa-solid fa-dog"></i>Perros</a>
                </li>
                <li class="sub-menu">
                  <a href="#"><i class="fa-solid fa-cat"></i>Gatos</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Carrito <i class="fa-solid fa-cart-shopping"></i></a>
            </li>
          </ul>
        </li>
        <a href="../views/login.html" class="login">
          Iniciar Sesión <i class="fa-solid fa-caret-down"></i>
        </a>
      </nav>

      <!-- Quienes somos -->
      <section class="sect-somos">
        <div>
          <div>
            <h3>Quiénes somos</h3>
            <p>
              Somos PetPrince. Contamos con 25 años de experiencia y
              especialización en el sector de la mascota. Queremos ser uno más
              de tu hogar y que cuentes con nosotros como si fuéramos parte
              éste. Queremos ser… “Uno más de la familia”
            </p>
          </div>
          <div>
            <div>
              <img src="../Assets/Images/somos/identidad.jpg" />
            </div>
            <div>
              <h3>Nuestra identidad</h3>
              <p>
                Apostamos por la innovación en todos nuestros procesos, la
                selección de productos exclusivos y de calidad, y el
                asesoramiento 100% personalizado a través de una amplia red
                omnicanal. Nuestra prioridad es regalar a cada visitante, sin
                importar su especie, una experiencia única.
              </p>
            </div>
          </div>
          <div>
            <div>
              <h3>Nuestros servicios</h3>
              <p>
                Nada sería posible sin el equipo experto, multidisciplinario y
                en constante evolución que nos convierte en referentes en los
                campos de experiencia del cliente, asesoramiento especializado,
                veterinaria, peluquería canina y felina, y educación canina.
              </p>
            </div>
            <div>
              <img src="../Assets/Images/somos/servicios.jpg" />
            </div>
          </div>
          <div>
            <div>
              <h3>Nuestro proyecto</h3>
              <p>
                Queremos ser la tienda para mascotas de referencia y llevar a
                PetPrince a cada rincón del mapa. Actualmente, nuestro plan de
                expansión continúa en marcha, y contamos cada vez con un número
                mayor de tiendas y un ecommerce líder en el sector con venta en
                más de 90 países..
              </p>
            </div>
            <div>
              <img src="../Assets/Images/somos/desarrollo.jpg" />
            </div>
          </div>
          <div>
            <div class="columnLeft">
              <h3>Nuestro compromiso</h3>
              <p>
                Garantizar la calidad de vida de los animales en todas sus
                etapas es nuestra razón de ser. Además de los mejores productos
                y un servicio de asesoramiento orientado al bienestar de la
                mascota como prioridad, desarrollamos de manera permanente un
                programa solidario de colaboración social donde Echamos una pata
                a los animales desfavorecidos.
              </p>
            </div>
            <div class="columnRight">
              <img src="../Assets/Images/somos/compromiso.jpg" />
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="contact">
            <h2 class="footer-h2">ZONA DE CONTACTO</h2>
            <div class="contact-a">
            <a href="./somos.html">Quienes Somos</a>
            <a href="./preguntasfrecuentes.html">Preguntas Frecuentes</a>
            <a href="./terminosycondiciones.html">Términos y condiciones</a>
            </div>
            <div class="textarea-container">
                <textarea type="textarea" class="textarea" placeholder="Mandanos aquí tu mensaje..." rows="10" cols="50">

                </textarea>
                <input type="submit" name="textarea">
            </div>
            
            
        </div>
        <div class="social">
            <h2 class="footer-h2">Nuestros proveedores</h2>
            <div class="img-providers">
                <img src="../Assets/Images/Prodviders/Imagen 15.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 16.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 17.png" alt="">
                <img src="../Assets/Images/Prodviders/Imagen 18.png" alt="">
            </div>
            <h2 class="footer-h2">Siguenos</h2>
            <div class="social">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-pinterest"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </footer>

      <div class="rights">
        <div class="credits">
          <p>®PetPrince Corporations <b>2022</b></p>
          <p>| Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  </body>
</html>
